$panel-main-color: #313131;
$panel-bg-color: #242424;
$panel-fg-color: #404040;

$tab-color: #8E8E8E;
$tab-active: #404040;

$headings: #FFE6C0;
$links: #6EB3FF;
$input-bg: #828282;
$input-bg-active: #F0DAB4;

$orange: #ffa200;
$blue: #7dcaed;
$yellow: #ffe6c0;