.panel {
  background-color: #313031;
  box-shadow:
    inset 3px 0 3px -3px #201815,
    inset 2px 0 2px -2px #201815,
    inset 1px 0 1px -1px #201815,
    inset 0 3px 3px -3px #8f8c8b,
    inset 0 2px 2px -2px #8f8c8b,
    inset 0 1px 1px -1px #8f8c8b,
    inset -3px 0 3px -3px #201815,
    inset -2px 0 2px -2px #201815,
    inset -2px 0 1px -1px #201815,
    inset 0 -3px 3px -3px #000,
    inset 0 -2px 2px -2px #000,
    inset 0 -1px 1px -1px #000,
    0 0 2px 0 #201815,
    0 0 4px 0 #201815;
  border: none;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}