@import "./_colors";

.panel {
  background-color: #313031;
  box-shadow: #605e5d 0 2px 2px -1px inset,
  #251e1c 2px 0 2px -1px inset,
  #000000 0 -2px 2px -1px inset,
  #251e1c -2px 0 2px -2px inset;
  border-radius: 1px;
  padding: 10px;

  & > .inlay {
    background: $panel-bg-color;
    box-shadow:
      // Outer
      #000 0 -1px 2px 0px,
      // Inner top
      #0E0D0E 0 1px 2px 0 inset,
      // Inner right
      #0E0D0E 1px 0 2px 0 inset,
      // Inner left
      #0E0D0E -1px 0 2px 0 inset,
      // Bottom
      #676463 0 -1px 0px 1px inset;

    padding: 2px;
    padding-top: 1rem;
  }

  &.content {
    box-shadow:
      #676463 0 2px 2px -1px inset,
      #251e1c 2px 0 2px -1px inset,
      #000000 0 -2px 2px -1px inset,
      #251e1c -2px 0 2px -2px inset;
    background-color: $panel-fg-color;
    border-radius: 1px;
  }
}