<!DOCTYPE html>
<html lang="en">
<head>
  <title>Factorio manager</title>
</head>
<body>

<partial name="_NoticeBoard" />

<nav>
  <ul>
    <li><a href="@Url.Page("Config")">Config</a></li>
  </ul>
</nav>

@RenderBody()

</body>
</html>