@model FactorioManager.Web.Infrastructure.IPageWithTitle

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Factorio manager</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>

<header>
  <h1>Factorio manager</h1>
  <partial name="_NoticeBoard"/>
  <nav>
    <ul>
      <li active-in-page="/Index"><a asp-page="/Index">Welcome</a></li>
      <li active-in-page="/Config"><a asp-page="/Config">Config</a></li>
    </ul>
  </nav>
</header>

<main class="panel">
  <h1>@Model.PageTitle</h1>
  
  @RenderBody()
</main>

</body>
</html>