@page
@namespace FactorioManager.Web.Pages
@model Config

<form method="post">
  <label>
    Factorio user home:
    <input type="text" asp-for="@(Model.UserConfig!.GameUserHome)" />
  </label>
  <button type="button" class="AutofillGameHome" data-target="#@Html.IdFor(m => m.UserConfig.GameUserHome)">⚡</button>
  <button type="submit">Save</button>
</form>